.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--0);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--1);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  border-radius: 0.5rem;
  background-color: var(--color-dark--2);
  height: 3.5rem;
  font-size: 1.5rem;
}

.btn {
  background-color: var(--color-dark--2);
  border-radius: 0.5rem;
  color: var(--color-brand--1);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  height: 3.5rem;
  width: 8rem;
}
